.divCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .card {
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    h2 {
      font-size: 25px;
      font-weight: 500;
    }
    img {
      width: 325px;
      height: 325px;
      border-radius: 15px;
    }
    p {
      font-size: 20px;
      font-weight: 450;
    }
  }
}